   .firms{
   	position: relative;
   	padding: 90px 0px 70px;
   	background-color: #efefef;
   	.sec-title{
   		position: relative;
   		margin-bottom: 52px;
   		padding-bottom: 28px;
   		.title{
   			position: relative;
   			font-size: 22px;
   			font-style: italic;
   			color: #aaaaaa;
   			margin-bottom: 10px;
   			font-family: 'Playfair Display', serif;
   		}
   		h2{
   			position: relative;
   			font-size: 34px;
   			font-weight: 600;
   			color: #242424;
   			line-height: 1.2em;
   			display: inline-block;
   		}
   		hr{
   			width: 60px;
   			height: 2px;
   			background-color: #d2b871;
   		}

   		p{

   			color: #797979;
   			font-size: 17px;
   			line-height: 1.7em;
   			margin-bottom: 30px;
   		}

   		a{
   			position: relative;
   			line-height: 24px;
   			color: #ffffff;
   			text-decoration: none;
   			font-size: 17px;
   			font-weight: 600;
   			background: #25baa9;
   			display: inline-block;
   			padding: 11px 43px;
   			border-radius: 50px;
   			border: 2px solid #25baa9;
   			transition:all 0.6s ease-in-out;
   			&:hover{
   				background-color: transparent;
   				color:#25baa9;
   			}
   		}
   	}

   	.sec-img{
   		position: relative;
   		figure{
   			opacity: 1;
   			transition:all 0.6s ease-in-out;
   			img{
   				position: relative;
   				width: 100%;
   			}
   			&:hover{
   				opacity: 0.7;
   			}
   		}
   		a{
   			position: absolute;
   			top:50%;
   			left: 50%;
			i{
				font-size: 70px;
				color: #fff;
			}
   		}
   	}
   }



